extends layout

block content
    h1 WN
    p ID: #{playerId}
    if db && !error
        p Nick:
            a(href="http://worldoftanks.ru/community/accounts/" + db._id + "-" + db.nm) #{db.nm}
        hr
        p LVL: #{db.lvl}
        p EFF: #{db.neff} | #{db.eff}
        p WN6: #{db.nwn6} | #{db.wn6}
        p GWR: #{db.gwr}
        p TWR: #{db.twr}
        hr
        p battles: #{db.b}
        p wins: #{db.w}
        p hit percent: #{db.hip}
        p damage: #{db.dmg} (#{db.admg})
        p frags: #{db.frg} (#{db.afrg})
        p spotted: #{db.spo} (#{db.aspo})
        p defence: #{db.def} (#{db.adef})
        p capture: #{db.cap} (#{db.acap})
        hr
        p created: #{db.created}
        p updated: #{db.updated}
        p cached: #{db.dt}
        hr
    else
        div.error Player not found